name: Lint Models

on: [pull_request]

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: show ls
        run: |
        ls
      - name: show pwd
        run: |
        pwd
      - uses: "actions/setup-python@v2"
        with:
            python-version: "3.8"
      - name: Install SQLFluff
        run: "pip install sqlfluff==0.3.6"
      - name: Lint models
        run: "sqlfluff lint src/models"
      - name: Lint fix formatting
        run: "sqlfluff fix src/models"
