name: Lint Models

on: [pull_request]

jobs:
  ls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: show-ls
        run: |
          ls
  pwd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: show-ls
        run: |
          ls

  lint-models:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: "actions/setup-python@v2"
        with:
            python-version: "3.8"
      - name: Install SQLFluff
        run: "pip install sqlfluff==0.3.6"
      - name: Lint models
        run: "sqlfluff lint --nofail src/models"
      - name: Lint fix formatting
        run: "Y | sqlfluff fix -s src/models"
      - name: Lint models2
        run: "sqlfluff lint --nofail src/sql"
      - name: Lint fix formatting2
        run: "Y | sqlfluff fix -s src/sql"
